* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
}

.nav-links {
    justify-content: space-between;
    padding: 0 30px;
    list-style: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: fixed;
    width: 100%;
    margin-top: 30px;
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.nav-links li {
    display: inline-block;
    margin: 0 60px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 20px 20px;
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: #848484;
    border-radius: 5px;
}

h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}